# Python virtual environment
clip/
.venv/
env/
bin/
pyvenv.cfg
lib/
include/
share/

# Tokens and secrets
tokens.py
*.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

logs/

wandb/